.card{
    min-height: 50px;
    max-height: max-content;
    display: flex;
    min-width:1000px;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1ch;
    margin-top: 10px;
    align-items: center;
}
.A{
    background-color: #CDE1C8;
}
.D{
    background-color:#EA9A9A;
}
.P{
    background-color:#E2E392;
}
.col{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: max-content;
}
.flag-menu{
    text-align: right;
}
.flag-menu-window{
    background-color: #F2EFEB;
    padding: 5px;
}