.card{
    min-height: fit-content;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    max-height: max-content;
    
    min-width:800px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 1ch;
    margin-top: 10px;
    border-width: 1px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.A{
    background-color: #CDE1C8;
}
.D{
    background-color:#EA9A9A;
}
.P{
    background-color:#E2E392;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}
.flag-menu{
    text-align: right;
    position: absolute;
    top:0;right:0;
}
.flag-menu-window{
    background-color: #F2EFEB;
    padding: 5px;
    z-index: 1;
    position: absolute;
}

.approval-status{
    padding: 5px;
    border-radius: 1ch;
}

.Aa{
    background-color: #019E2D;
}
.Da{
    background-color: #DC1616;
}

.Pa{
    background-color: #fffb00;
}
.p4 {
    position: relative;
    top: 0;
    right: 0;
}