.page{
    position:fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(150, 148, 148, 0.411);
    display:flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.addapoint{
    right:2;
    z-index:2;
    width:60vw;
    height:80vh;
    margin:auto;
    background-color: rgb(243, 237, 237);
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:15px;
    position:relative;
    
}
.close{
    position: absolute;
    z-index:3;
    top:15px;
    right:25px;
}
.heading{
    padding:30px;
    text-align: center;
    text-decoration: underline;
    color:rgb(71, 71, 71);
    font-size: xx-large;
    font-weight: 700;
}

select{
    background-color: rgb(71, 71, 71);
    font-size:large;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
}
option:hover{
    background-color: rgb(41, 41, 41);
}

h4{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    margin-bottom: 10px;
    padding-right: 15px;
}

label {
    display:flex;
    flex-direction: column;
}

input{
    min-width: 400px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form_{
    margin-top: 6vh;
    display:flexbox;
    flex-direction:column;
    align-items: center;
    overflow-y: auto;
}

.form_::-webkit-scrollbar { width: 0 !important }
.form_{overflow: -moz-scrollbars-none; }

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-content{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px;
}
.but{
    margin-top: 30px !important;
}
.form-content button{
    font-size:20px;
    padding:10px;
    background-color: rgb(71, 71, 71);
    color:white;
    border-style: none;
    border-radius: 10px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list{
    margin-top: 10px;
}
.form_page{
    height: 80%;
    width: 70%;
    margin-top:5%;
    margin-bottom: 5%;
    position: relative;
    justify-content: center;
}
.content{
    height:70%;
}
.control{
    position:absolute;
    bottom:5%;
    left:37%;
    right:30%;
}
.content_page{
    display: flex;
    margin-top:10%;
    flex-direction: column;
    height:100%;
    width:100%;
}
.content_page h2{
    margin-top: 25px;
}
.form_page .error{
    position:absolute;
    bottom:10%
}
