.navbar{
    background-color: #292E31;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.iitg-logo{
    height:48px;
    width:48px;
}
.left-navbar{
    display: flex;
    padding: 5px;
    align-items: center;
}
.right-navbar{
    display: flex;
    padding: 5px;
    align-items: center;
}
.sub-navbar{
    padding:5px 15px 5px;
    border-radius: 2.5ch;
}
.sub-navbar:hover{
    background-color: #1c1f20;
}
.site-title{
    font-size: 20;
    padding: 5px 15px 5px;
}


