.viewpoint{
    display:flex;
    flex-direction: column;
    height:100ch;
    min-height: fit-content;
    min-width: fit-content;
}
.top{
    flex:30;
    display: flex;
    flex-direction: column;
}
.topupper{
    display: flex;
    flex:90;
    padding:25px;
}
.addapointbutton{
    align-self: flex-end;
}
.bottom{
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    flex:65;
    overflow-y: scroll;
    overflow-x: scroll;
}
input::selection{
    border-style: none;
}
.redbuttons{
    display: flex;
    flex-direction: row;
}

.toplower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1;
}
.searchbar{
    padding:15px;
}
.redbutton{
    padding: 15px;
}
.flag-menu{
    position:relative;
    top:0;
    right:0;
}
.fKmmpS {
    padding: 0rem;
}
thead {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    font-size: 1.2em;
    color:white;
    font-weight: lighter;
  }
  thead th {
    padding: 0.7em !important;
    background-color: #292E31;
  }


  table {
    width:100%;
    border-spacing: 0;
  }
 table td:first-child { 
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
        border-left: 1px ;
    }
  table  td:last-child { 
        border-top-right-radius: 10px; 
        border-bottom-right-radius: 10px;
        border-right: 1px;
    }
    .A{
        background-color:#CDE1C8;
    }
    .D{
        background-color:#EA9A9A;
    }
    .P{
        background-color:#E2E392;
    }
  .pagination {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  .pagination button,select{
      color:white;
      padding:10px;
      border-style: none;
      margin-left:10px;
      background-color: #292e31;
      border-radius:10px;
  }
  .pagination input{
      border: 0px;
      background-color:white;
      padding:10px;

  }
  tr{
      position:relative;
  }
  .detailCard{
      z-index:2;
    position:absolute
  }