
.AddAPoint{

    height: 100vh;
    display: flex;
    flex-direction:column;
    min-width: fit-content;
    
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.row1{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;

    
}
.sidemenu{
    flex:1;
}
.content{
    flex:4;
    width: fit-content;
    
}